@import url(../runo/styles.css);

/* Center the text in header. */
.v-table-header-cell {
    text-align: center;
}

.v-table-cell-content {
	padding-top: 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.v-table-legend {
	border-right: none;
	border-bottom: none;
}

.v-table-cell-content-stand {
    background: rgb(0, 120, 190);
}

.v-table-cell-content-hit {
    background: rgb(0, 200, 0);
}

.v-table-cell-content-double {
    background: rgb(70, 240, 0);
}

.v-table-cell-content-split {
    background: rgb(50, 200, 200);
}

.v-table-cell-content-surrender {
    background: rgb(240, 225, 0);
}

.v-table-cell-content-rowheader {
	border: 1px solid #b6bbbc;
	border-top: none;
	border-left: none;
	background: #e7e9ea url(img/header-bg.png) repeat-x;
	font-size: 15px;
	text-shadow: #ffffff 0 1px 0;
	color: #393a3c;
}

.v-table-cell-content-last {
    background: rgb(255, 255, 255);
}

.v-textlabel-panel-corresponding {
	font-size: 18px;
	line-height: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	color: #f14c1a;
}
